<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">
 
	<servlet>
		<servlet-name>Chap1 Servlet</servlet-name>
		<servlet-class>Ch1Servelet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DatingServlet</servlet-name>
		<servlet-class>DatingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BeerSelect</servlet-name>
		<servlet-class>com.example.web.BeerSelect</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BeerParamTests</servlet-name>
		<servlet-class>com.example.TestInitParams</servlet-class>
		<init-param>
			<param-name>adminEmail</param-name>
			<param-value>admin@gmail.com</param-value>
		</init-param>
		<init-param>
			<param-name>mainEmail</param-name>
			<param-value>main@gmail.com</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>TestInit</servlet-name>
		<jsp-file>/TestInit.jsp</jsp-file>
		<init-param>
			<param-name>email</param-name>
			<param-value>main@gmail</param-value>			
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>ListenerTester</servlet-name>
		<servlet-class>com.example.ListenerTester</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Chap1 Servlet</servlet-name>
		<url-pattern>/Servl1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DatingServlet</servlet-name>
		<url-pattern>/DatingServl</url-pattern>		
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BeerSelect</servlet-name>
		<url-pattern>/SelectBeer.do</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
	    <servlet-name>BeerParamTests</servlet-name>
		<url-pattern>/Tester.do</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListenerTester</servlet-name>
		<url-pattern>/listenerTest.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestInit</servlet-name>
		<url-pattern>/TestInif.jsp</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>breed</param-name>
		<param-value>Greed Dane</param-value>
	</context-param>
	<listener>
		<listener-class>
			com.example.MyServletContextListener
		</listener-class>
	</listener>
 </web-app>